<ion-view class="leagues-list">
  <!-- Include Header -->
  <div class="header-first-raw" >
    <a class="header-icon menu_icon" menu-toggle="right"></a>
    <h2 class="header-title">
      <span>{{'main_nav_event_list' | translate}}</span>
    </h2>
    <a ng-show="true" class="header-icon back-icon" ng-click="goback()"></a>
    <!-- <a class="header-icon search-icon" ng-click="toggleSearchBar()"></a>
      <div ng-show="isSearchVisible" class="search-bar">
        <input type="text" ng-model="searchQuery.Title" placeholder="{{ 'text_search' | translate }}">
      </div> -->
  </div>

  <div class="eventlogo" style="margin-top:3px;">
    <img  style="height:35vh;" actual-src="{{util.eventImage(event.Logo)}}" ng-src="images/event-default.png" />
  </div>
  <div class="sharebutton" style="position:relative">
    <img actual-src="" ng-src="images/share.png" ng-click="facebookShare()"/>
  </div>
  <!-- <ion-content class="has-main-header padding items-box"> -->
  <!-- <div > -->
  <div class="item-cont" style="margin:auto;padding: 20px;text-align:justify" ng-class="{'rtl':isCurrentLangIsHebrew()}">
    <h2 style="font-weight: bold;">{{event.Name}}</h2>
    <h2>{{event.Place}}</h2>
    <h2>{{event.Date}}</h2>
    <p style="font-size:14px;white-space:pre-line">{{event.Description}}</p>
  </div>

  <!-- </div> -->

  </ion-content>
</ion-view>