<div>
	<div class="tab-box-item"
		 ng-repeat="g in gamesList">
		<div class="text-center">{{g.LeagueName}}</div>
		<div class="row">
			<div class="col">
				{{g.HouseName}}
			</div>
			<div class="col-60 game-date-time date" ui-sref="app.game({gameId: g.GameId, gameType: g.gameType})">
				<span><b>{{g.StartDate | date : 'dd.MM.yy'}} ,</b></span><span>{{g.StartDate | date : 'HH:mm'}}</span><br>
				<span class="game-auditorium" ng-click="util.openWaze(g.AuditoriumAddress);$event.stopPropagation()" ng-show="g.Auditorium != undefined">{{g.Auditorium}}<a class="wazeicon"><img ng-show="game.AuditoriumAddress != undefined" ng-src="images/waze.png"/></a></span>
			</div>

			<div class="col">
				<!--<div ng-show="!g.PlayOffType" class="col set">{{g.CycleNumber + 1}} {{ 'text_cycle' | translate }}</div>-->
				<div ng-show="g.PlayOffType" class="col set">{{g.PlayOffType}}</div>
				<div ng-show="g.MaxPlayoffPos && g.MinPlayoffPos" class="col set">{{ 'text_places' | translate }} {{g.MaxPlayoffPos}} - {{g.MinPlayoffPos}}</div>
			</div>
			<a class="referee-game-results-button icon ion-ios-plus-outline"
			   ng-if="util.User.Role == 'workers' && g.Status!= 'ended'"
			   ng-click="setScoreForGame(g);$event.stopPropagation()">
			</a>
		</div>
		<div class="row teams teams-game-box">
			<div class="col col-center">
				<h4 ng-click="openTeam(g.HomeTeamId, g.LeagueId)" class="one game-box-team-name">{{g.HomeTeam}}</h4>
			</div>
			<div class="col col-20 game-box-teams">
				<div ng-if="gameStat == 'next'" class="main-vs" ui-sref="app.game({gameId: g.GameId, gameType: g.gameType})">VS</div>
				<div ng-if="gameStat == 'prev' && g.Status == 'ended'" class="res game-box-team-score" ui-sref="app.game({gameId: g.GameId, gameType: g.gameType})">{{g.GuestTeamScore}}:{{g.HomeTeamScore}}</div>
			</div>
			<div class="col col-center">
				<h4 ng-click="openTeam(g.GuestTeamId, g.LeagueId)" class="two game-box-team-name">{{g.GuestTeam}}</h4>
			</div>
		</div>
	</div>
	<div class="rtl main-padding" ng-show="!gamesList">
		{{ 'games_no_games' | translate }}
	</div>

</div>