<div id="{{::uniqueId}}">
	<div class="PlayGame" ng-class="{'live': 'LiveGame' }[game.Status]"
		style="padding-left:0px;margin-left:0px;padding-right:0px;margin-right:0px;"
		ui-sref="app.game({gameId: game.GameId, gameType: game.gameType})">

		<span class="main-label" ng-if="!isScroll" ui-sref="app.game({gameId: game.GameId, gameType: game.gameType})">
			<!-- {{(game.Status == 'live' ? "text_live_now" : "text_upcomming") | translate}} -->
		</span>
		<!-- Cheng : Remove for Assaf need : 9-3-1 for Competition -->

		<a class="going-btn" ng-class="{'active': game.IsGoing == 1}"
			ng-if="!util.isLeagueMgr() && !util.isUnionMgr() && game.Status != 'ended' && game.gameType  == 0"
			ng-click="setGoing(game.gameType);$event.stopPropagation()">
			{{(game.IsGoing == 1 ? "text_going": "text_is_comming") | translate}}
		</a>
		<div class="Teams row">
			<div class="col" style="height: 140px;" ng-if="(game.gameType == 1 && game.GuestTeamPair.length>0)
			||game.gameType == 1 && game.HomeTeamPair.length>0">
				<div class="row" style="  position: relative;width: 100%;padding-top:0px;padding-left:0px;height: 100px;">
					<a class="thumb img-circle" style="position:absolute;left:60px;z-index:10"
						ng-click="showDetail(game.GuestTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">
						<img ng-if="game.gameType == 1" actual-src="{{util.fanImage(game.GuestTeamLogo)}}"
							ng-src="images/player-default.jpg" />
						<img ng-if="game.gameType == 0" actual-src="{{util.teamImage(game.GuestTeamLogo)}}"
							ng-src="images/team-default.jpg" />
					</a>
					<a class="thumb img-circle" ng-if="game.gameType == 1" style="position:absolute; left: 0px;z-index: 1"
						ng-click="showDetail(game.GuestTeamPairId, game.LeagueId, game.gameType);$event.stopPropagation()">
						<img ng-if="game.gameType == 1" actual-src="{{util.fanImage(game.GuestTeamLogoPair)}}"
							ng-src="images/player-default.jpg" />
					</a>
				</div>
				<span
					ng-click="showDetail(game.GuestTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">{{game.GuestTeam}}
					<span ng-if="game.GuestTeamPair">/ {{game.GuestTeamPair}}</span></span>
			</div>
			<div class="col" ng-if="game.gameType == 0||(game.gameType ==1 && game.GuestTeamPair.length<=0 &&
			game.HomeTeamPair.length<=0) ">

				<a class="thumb img-circle"
					ng-click="showDetail(game.GuestTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">
					<img ng-if="game.gameType == 1" actual-src="{{util.fanImage(game.GuestTeamLogo)}}"
						ng-src="images/player-default.jpg" />
					<img ng-if="game.gameType == 0" actual-src="{{util.teamImage(game.GuestTeamLogo)}}"
						ng-src="images/team-default.jpg" />
				</a>

				<span
					ng-click="showDetail(game.GuestTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">{{game.GuestTeam}}
				</span>
			</div>

			<div class="col" ng-class="game.Status != 'live' && game.Status != 'ended' ? 'vs' : 'vs-ended'"
				style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px;max-width:50px;">
				<span class="Clock" ng-if="game.Status == 'live' || game.Status == 'ended'">
					{{game.GuestTeamScore}} : {{game.HomeTeamScore}}
				</span>
			</div>

			<div class="col" style="height: 140px;" ng-if="(game.gameType == 1 && game.GuestTeamPair.length>0)
			||game.gameType == 1 && game.HomeTeamPair.length>0">
				<div class="row"
					style="  position: relative;width: 100%;padding-top:0px;padding-left:0px;margin-left:0px;height: 100px;">
					<a class="thumb img-circle" style="position:absolute;left:60px;z-index:0"
						ng-click="showDetail(game.HomeTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">
						<img ng-if="game.gameType == 1" actual-src="{{util.fanImage(game.HomeTeamLogo)}}"
							ng-src="images/player-default.jpg" />
						<img ng-if="game.gameType == 0" actual-src="{{util.teamImage(game.HomeTeamLogo)}}"
							ng-src="images/team-default.jpg" />
					</a>
					<a class="thumb img-circle" ng-if="game.gameType == 1" style="position:absolute; left: 0px;z-index: 1"
						ng-click="showDetail(game.HomeTeamPairId, game.LeagueId, game.gameType);$event.stopPropagation()">
						<img ng-if="game.gameType == 1" actual-src="{{util.fanImage(game.HomeTeamLogoPair)}}"
							ng-src="images/player-default.jpg" />
					</a>
				</div>
				<span
					ng-click="showDetail(game.HomeTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">
					<span ng-if="game.HomeTeamPair">{{game.HomeTeamPair}}
						/ </span>{{game.HomeTeam}}</span>
			</div>
			<div class="col" ng-if="game.gameType == 0||(game.gameType ==1 && game.GuestTeamPair.length<=0 &&
			game.HomeTeamPair.length<=0) ">
				<a class="thumb img-circle"
					ng-click="showDetail(game.HomeTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">
					<img ng-if="game.gameType == 1" actual-src="{{util.fanImage(game.HomeTeamLogo)}}"
						ng-src="images/player-default.jpg" />
					<img ng-if="game.gameType == 0" actual-src="{{util.teamImage(game.HomeTeamLogo)}}"
						ng-src="images/team-default.jpg" />
				</a>
				<span
					ng-click="showDetail(game.HomeTeamId, game.LeagueId, game.gameType);$event.stopPropagation()">{{game.HomeTeam}}</span>
			</div>

			<div class="cl"></div>
		</div>
		<div class="InfoBox" ng-switch on="game.Status">

			<span class="Clock">
				{{game.StartDate | date: 'HH:mm'}}
			</span>
			<span class="Date">
				{{game.StartDate | date: 'dd.MM.yy'}}
			</span>
			<span ng-if="game.TimeInitial.length>0">{{game.TimeInitial}}</span><br>
			<span class="Stadium" ng-click="util.openWaze(game.AuditoriumAddress);$event.stopPropagation()"
				ng-show="game.Auditorium != undefined">{{game.Auditorium}}<a class="wazeicon"><img
						ng-show="game.AuditoriumAddress != undefined" ng-src="images/waze.png" /></a></span>
			<div class="cl"></div>
			<div class="TimerPl" ng-if="game.Status == 'closetodate'">
				<div class="Timer" data-time="{{game.TimeLeft}}"></div>
			</div>
		</div>
	</div>


	<div class="going-game league-info-part-sep" ng-if="game.FansList.length > 0">

		<div class="rtl">
			<div class="main-label" ng-switch on="util.isLoggedIn()">
				<span ng-switch-when="true">{{ 'text_coming_to_game' | translate }} : {{game.FriendsGoing}}
					{{ 'text_friends' | translate }}; {{game.FansGoing}} {{ 'text_players' | translate }}</span>
				<span ng-switch-default>{{ 'text_coming_to_game' | translate }} : {{game.FriendsGoing + game.FansGoing}}
					{{ 'text_players' | translate }}</span>
			</div>
			<div class="cl"></div>
		</div>

		<ng-include src="'app/partial/fans-pane.html?5'"></ng-include>
	</div>
</div>