<div>
	<ion-nav-bar class="one-row-header none-border">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="right">
			<div class="referee-header-icon" ng-class="npage?'alerts-icon-on':'alerts-icon'" ui-sref="app.notifications">
				<i class="new-msgs" ng-show="newNotes > 0">{{newNotes}}</i>
			</div>
			<div class="header-icon referee-friends" ng-class="fpage?'friends-icon-on':'friends-icon'" ui-sref="app.fanFriends">
			</div>
			<div class="referee-header-icon" ng-class="mpage?'msg-icon-on':'msg-icon'" ui-sref="app.msgs">
				<i class="new-msgs" ng-show="newMessages > 0">{{newMessages}}</i>
			</div>
			<div id="one-row-header-display-name" ng-click="goToMyProfile()">
				{{displayName | characters: 8: true}}
			</div>

			<div class="header-icon header-logo" ng-click="goToMyProfile()">
				<img ng-src="{{userImage}}"/>
			</div>
			<div class="header-icon menu_icon" menu-toggle="right"></div>
		</ion-nav-buttons>	
	</ion-nav-bar>

	<!--<script id="teams-popover.html" type="text/ng-template">-->
		<!--<ion-popover-view class="teams-ddl">-->
			<!--<h4 ng-click="popover.hide()">-->
				<!--<i class="ion-arrow-up-b"></i> {{selectedTeam.Title}} <span class="league-title">{{selectedTeam.LeagueTitle}}</span> -->
			<!--</h4>-->
			<!--<div class="list" ng-repeat="item in userTeams">-->
				<!--<a class="item" ng-click="teamSelect(item);popover.hide()">{{item.Title}} <span class="league-title">{{item.LeagueTitle}}</span> </a>-->
			<!--</div>-->
		<!--</ion-popover-view>-->
	<!--</script>-->
</div>
