
    <ion-nav-bar class="one-row-header">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div id="one-row-header-display-name" class="user-name" ui-sref="app.union">
                <b>{{displayName}}</b>
            </div>
            <div class="header-icon header-logo">
                <img actual-src="{{unionImage}}" ng-src="images/league-default.png"/>
            </div>
            <div class="header-icon menu_icon" menu-toggle="right"></div>
        </ion-nav-buttons>   
    </ion-nav-bar>

