<ion-view class="roleChooserPage">

	<!-- Include Header -->
	<ng-include src="'app/partial/main_header.html'"></ng-include>

	<ion-content class="has-main-header padding" ng-class="{'rtl' : isCurrentLangIsHebrew()}">

		<label class="item item-input defaultInput">
			<input placeholder='{{"input_forgot_password_email" | translate}}' ng-model="user.email" name="email"
				   type="email" ng-required="true" ng-minlength="5" ng-maxlength="100"/>
		</label>

		<label class="item item-input defaultInput">
			<input placeholder='{{"input_login_worker_id" | translate}}' ng-model="user.userId" name="userId"
				   type="userId" ng-required="true" ng-minlength="5" ng-maxlength="100"/>
		</label>

		<button class="button button-block button-positive" ng-click="submitEmail()">{{'button_forgot_password_confirm'
			| translate}}
		</button>

	</ion-content>
</ion-view>