<ion-list>
	<ion-item class="f-list" ng-repeat="fan in teamFans | filter:searchQuery" ng-class="{'rtl' : isCurrentLangIsHebrew()}">
		<div class="f">
			<img class="f-img" ng-src="{{util.userImage(fan)}}" ng-click="util.showUser(fan)"/>

			<div class="f-txt" ng-click="util.showUser(fan)">
				<span class="f-name">{{fan.UserName != undefined ? fan.UserName : fan.FullName}}</span>
			</div>
			<i user="fan" ng-if="util.isLoggedIn() && fan.Id != user.Id" class="f-msg m-icon-message" app-message-button ng-show="fan.CanRcvMsg"></i>
      		<i user="fan" ng-if="util.isLoggedIn() && fan.Id != user.Id && fan.UserName != myName" app-friend-button ></i>
			<i user="fan" ng-if="util.isLoggedIn() && fan.Id != user.Id" class="f-msg m-icon-message-off" app-message-button ng-show="!fan.CanRcvMsg" ></i>
		</div>
	</ion-item>
</ion-list>
<ion-infinite-scroll immediate-check="false" ng-if="active1 && !end1" on-infinite="loadMoreFans()"
					 distance="5%"></ion-infinite-scroll>
