<ion-view class="leagues-list">
  <!-- Include Header -->
  <div class="header-first-raw">
    <a class="header-icon menu_icon" menu-toggle="right"></a>
    <h2 class="header-title">
      <span>{{'main_nav_competitions_list' | translate}}</span>
    </h2>
    <a ng-show="true" class="header-icon back-icon" ng-click="$ionicGoBack()"></a>
    <!-- <a class="header-icon search-icon" ng-click="toggleSearchBar()"></a>
    <div ng-show="isSearchVisible" class="search-bar">
      <input type="text" ng-model="searchQuery.Title" placeholder="{{ 'text_search' | translate }}">
    </div> -->
  </div>

  <ion-content class="has-main-header padding items-box">
    <div  class="list-item" ui-sref="app.competitionsDetailList({areaStr:'Youth'})">
      <!-- <a class="logo">
        <img actual-src="{{util.competitionImage(item.Logo)}}" ng-src="images/league-default.png" />
      </a> -->
      <div class="item-cont1 areatitle">
        <h4>{{'Youth_competitions' | translate}}</h4>
        <!-- <p class="subtitle">
              {{item.TotalPlayers}} {{"text_players" | translate}}
        </p> -->
      </div>
    </div>
    <div  class="list-item" ui-sref="app.competitionsDetailList({areaStr:'Daily'})">
      <!-- <a class="logo">
        <img actual-src="{{util.competitionImage(item.Logo)}}" ng-src="images/league-default.png" />
      </a> -->
      <div class="item-cont1 areatitle">
        <h4>{{'Daily_competitions' | translate}}</h4>
        <!-- <p class="subtitle">
              {{item.TotalPlayers}} {{"text_players" | translate}}
        </p> -->
      </div>
    </div>
    <div  class="list-item" ui-sref="app.competitionsDetailList({areaStr:'Senior'})">
      <!-- <a class="logo">
        <img actual-src="{{util.competitionImage(item.Logo)}}" ng-src="images/league-default.png" />
      </a> -->
      <div class="item-cont1 areatitle">
        <h4>{{'Senior_competitions' | translate}}</h4>
        <!-- <p class="subtitle">
              {{item.TotalPlayers}} {{"text_players" | translate}}
        </p> -->
      </div>
    </div>

  </ion-content>
</ion-view>
